$active_color: #98ffa0;
$light_black: #1c1a21;


.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* or absolute */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  width: 100%;
  background-color: #1c1a21;
  padding: 0.5rem 4rem 0.5rem 0.6rem;
  align-self:center;
}

.copy_icon {
  position: absolute;
  left: 22rem;
  color: $active_color;
  cursor: pointer;
}


.input[name="password"] {
  width: 20.5rem;
}